<div class="modal-header">
    <h4 class="modal-title">Success</h4>
    <button type="button" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Nombre
      <input type="text" id="nombre" name="nombre" [(ngModel)]="usuarioNombre">
      Descripcion
      <input type="text" id="descripcion" name="descripcion" [(ngModel)]="descripcion">
      Este es el contenido del modal. Puedes agregar cualquier contenido que desees aquí.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
  </div>
